<%- include('partials/header', { title: 'Services' }) %>

<h1>Services</h1>
<div class="row g-4 mt-1">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item">Web Development (HTML, CSS, JS, React)</li>
      <li class="list-group-item">Node/Express APIs</li>
      <li class="list-group-item">Database & SQL basics</li>
      <li class="list-group-item">UI/UX polish & Accessibility</li>
    </ul>
  </div>
  <div class="col-md-6">
    <img src="/images/computer.png" alt="Services" class="img-fluid rounded">
  </div>
</div>

<%- include('partials/footer') %>
